html, body {
    height: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#root {
    height: 100%
}

.bold-text {
    font-weight: bold;
}

.right-borders {
    /* border-left : 1px solid black; */
    border-right : 2px solid black;
}

.side-borders {
    border-right : 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.dark-table-header {
    background-color: #b5b5b5;
}

.background-app-color {
    background-color: #e8e8ea;
    height: 100vh;
}

.large-font-size {
    font-size: 26px;
}

.color-green {
    background-color: #28a745;
    color: white;
}

.color-transparent {
    background-color: transparent;
}